# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
SkillTreeHomeWork/bin/SkillTreeHomeWork.dll
packages/pickadate.3.5.5/pickadate.3.5.5.nupkg
packages/pickadate.3.5.5/content/Scripts/pickadate/legacy.js
packages/pickadate.3.5.5/content/Scripts/pickadate/picker.date.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/zh_TW.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/zh_CN.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/vi_VN.js
packages/pickadate.3.5.5/content/Scripts/pickadate/picker.js
packages/pickadate.3.5.5/content/Scripts/pickadate/picker.time.js
packages/pickadate.3.5.5/content/Scripts/pickadate/themes/classic.css
packages/pickadate.3.5.5/content/Scripts/pickadate/themes/classic.date.css
packages/pickadate.3.5.5/content/Scripts/pickadate/themes/classic.time.css
packages/pickadate.3.5.5/content/Scripts/pickadate/themes/default.css
packages/pickadate.3.5.5/content/Scripts/pickadate/themes/default.date.css
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/ar.js
packages/pickadate.3.5.5/content/Scripts/pickadate/themes/default.time.css
packages/pickadate.3.5.5/content/Scripts/pickadate/themes/rtl.css
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/bg_BG.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/bs_BA.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/ca_ES.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/cs_CZ.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/da_DK.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/de_DE.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/el_GR.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/es_ES.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/et_EE.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/eu_ES.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/fi_FI.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/fr_FR.js
.vs/config/applicationhost.config
.vs/SkillTreeHomeWork/v14/.suo
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/gl_ES.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/uk_UA.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/he_IL.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/hi_IN.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/hr_HR.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/tr_TR.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/hu_HU.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/id_ID.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/is_IS.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/it_IT.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/ja_JP.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/ko_KR.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/lt_LT.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/lv_LV.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/nb_NO.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/ne_NP.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/nl_NL.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/pt_PT.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/th_TH.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/no_NO.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/pl_PL.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/pt_BR.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/ro_RO.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/sk_SK.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/sv_SE.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/ru_RU.js
packages/pickadate.3.5.5/content/Scripts/pickadate/translations/sl_SI.js
SkillTreeHomeWork/obj/Debug/SkillTreeHomeWork.pdb
packages/PagedList.1.17.0.0/lib/net40/PagedList.dll
packages/PagedList.1.17.0.0/lib/net40/PagedList.xml
packages/PagedList.1.17.0.0/PagedList.1.17.0.0.nupkg
packages/PagedList.Mvc.4.5.0.0/PagedList.Mvc.4.5.0.0.nupkg
packages/PagedList.Mvc.4.5.0.0/lib/net40/PagedList.Mvc.dll
packages/PagedList.Mvc.4.5.0.0/Content/Content/PagedList.css
packages/PagedList.Mvc.4.5.0.0/lib/net40/PagedList.Mvc.XML
